@CHARSET "UTF-8";

/* 유병훈 */
div#join {
	width: 250px;
	height: 280px;
	margin-top: 10%;
	margin-left: 42%;
	text-align: right;
	background-color: #333333;
	float: left;
}

div#join input {
	font-family: "나눔바른고딕", "나눔 고딕";
	font-size: 15px;
	height: 30px;
	width: 200px;
	margin-top: 30px;
	margin-left: 20px;
	float: left;
}

button#btnJoin {
	font-family: "나눔바른고딕", "나눔 고딕";
	font-size: 15px;
	margin-left: 5px;
	padding: 7px;
	width: 80px;
	background-color: #333333;
	color: #ffffff;
	float: left;
}