@CHARSET "UTF-8";

/* 이기연 */
table#personalInfoTable {
	border-spacing: 50px;
	
}

div#personalInfoWrapper {
	background-color: yellow;
	float: left;
}

img#editImg {
	width: 10px;
}

img#profile{
	width: 100px;
}

td {
	cursor: pointer;
}

span.glyphicon {
	color: #808080;
}