@CHARSET "UTF-8";

div#login{
	float: right;
}

 div#login input#userId {
 
    position:absolute;
    top:15px;
	margin: 5px;
	float: right;
	
} 
 div#login input#userPwd {
 
    position:absolute;
    top:50px;
	margin: 5px;
	float: right;
	
} 

/* #loginForm * {
	line-height: 10px;
	line-height: -100px;
} */

#btnLogin {
	height: 25px;
	float: right;
	margin: 5px;
/* 	float: left;	
 	padding: 0px; 
 	 */
}

div.clear {
	clear: both;
}