@CHARSET "UTF-8";

/* 김광민 */
div#wrapper {
	/* 사용자의 컴퓨터 해상도를 모른다. 그래서 비율을 적어야 한다. */
	height: 100%;
	width: 100%;
	background-color: #e6e6e6;
}

div#header {
	background-color: #333333;
	color: #ffffff;
	height: 100px;
	width: 100%;
}

div#traveryIcon {
	height: 100%;
	margin-left: 38%;
	float: left;
}

div#traveryIcon img {
	height: 100%;
	width: 380px;
	float: left;
}