@CHARSET "UTF-8";

<<<<<<< HEAD
/* 유병훈 */
div.placeDetail {
	color: #ffffff;
	font-size: 50px;
	width: 200px;
	height: 200px;
	background-color: #000000;
	display: none;
}

div.modal-content {
	width: 1500px;
	height: 900px;
	margin-left: -300px;
}

div.divHeader {
	height: 30px;
	background-color: #333333;
}

div.divBody {
	width: 100%;
	height: 90%;
}

div.travelImage, .travelExplain {
	width: 50%;
	height: 100%;
	background-color: #c8c8c8;
	float: left;
}

div.modal-footer {
	background-color: #333333;
	margin-bottom: 0px;
}

div.clear {
	clear: both;
=======
div.placeDetail {
   color: #ffffff;
   font-size: 50px;
   width:200px;
   height:200px;
   background-color: #000000;
   
}

div.modal-content {
   
   width:1500px;
   height:900px;
   margin-left:-300px;
   
}

div.divHeader{
   height:20px;
   background-color: #333333;
}

div.divBody {
   width:100%;
   height:90%;
}

div.travelImage, .travelExplain {
   width:50%;
   height:100%;
   background-color: #c8c8c8;
   float:left;
}

div.modal-footer {
   background-color: #333333;
   margin-bottom: 0px;
}

div.clear {
   clear:both;
>>>>>>> origin/hskim3
}