@CHARSET "UTF-8";

/* 김동규 */
div#placeInfoModify_Wrapper {
	width: 90%;
	height: 100%;
	background-color: green;
	float: left;
	overflow: hidden;
}

div#placeInfoModify_title {
	
}

div#placeInfoModify_searchMap {
	
}

div#placeInfoModify_imageUpload {
	
}

div#placeInfoModify_description {
	
}

div#placeInfoModify_modifyBtn {
	
}