@CHARSET "UTF-8";

/* 이기연 */
div#personalInfoWrapper {
   width: 70%;
   max-width: 1000px;
   background-color: #c3c3c3;
   margin: 0 auto;
   margin-top: 3%;
   border-top-right-radius: 30px;
   border-top-left-radius: 30px;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius: 30px;
}

div#personalInfoWrapper h1 {
   text-align: center;
   padding-top: 60px;
}

table#personalInfoTable {
   border-spacing: 50px;
   width: 700px;
   margin: 0 auto;
   vertical-align: middle;
}

table#personalInfoTable.personalInfo1 {
   width: 10px;
}
table#personalInfoTable.personalInfo2 {
   width: 50px;
}
table#personalInfoTable.personalInfo3 {
   width: 150px;
}
table#personalInfoTable.personalInfo4 {
   width: 10px;
}

img#editImg {
   width: 10px;
}

img#profile {
   width: 100px;
}

table#personalInfoTable td {
   cursor: pointer;
   text-align: left;
}

div#personalInfoWrapper span.glyphicon {
   color: #808080;
}

div#personalInfoWrapper input #file {
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
   padding: 0;
   font-size: 20px;
   cursor: pointer;
   opacity: 0;
   filter: alpha(opacity = 0);
}

table#personalInfoTable td img {
   width: 85px;
   height: 85px;
}

div#reserveConfirmBtn {
	float:right;
	background-color: #eeeeee;
	color:#333333;
	width:100px;
	height:22px;
	border-radius:7px;
	margin-right: 16px;
	margin-bottom: 10px;
	padding-top:1px;
	cursor: pointer;
	opacity :1;
	transition: all 0.3s ease-out;  
}
div#reserveConfirmBtn:hover {
	opacity : 0.7;
}

#reserveTable {
	width:90%;
	height:85%;
	margin: auto;
	margin-top: 4%;
	
}

table#reserveTable tr, table#reserveTable td {
	border : 3px Groove #5b5b5b;
}

table#reserveTable .firstTr {
	color:#e8e8e8;
}

table#reserveTable .secondTr {
	background-color: #5d5d5d;
	font-size: 15px;
}