<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Travery</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddNewPlaceServlet</display-name>
    <servlet-name>AddNewPlaceServlet</servlet-name>
    <servlet-class>com.ktds.muco.web.AddNewPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewPlaceServlet</servlet-name>
    <url-pattern>/addNewPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPlaceServlet</display-name>
    <servlet-name>NewPlaceServlet</servlet-name>
    <servlet-class>com.ktds.muco.web.NewPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPlaceServlet</servlet-name>
    <url-pattern>/newPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceInfoMassiveDeleteServlet</display-name>
    <servlet-name>PlaceInfoMassiveDeleteServlet</servlet-name>
    <servlet-class>com.ktds.muco.web.PlaceInfoMassiveDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceInfoMassiveDeleteServlet</servlet-name>
    <url-pattern>/placeInfoMassiveDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceInfoDeleteServlet</display-name>
    <servlet-name>PlaceInfoDeleteServlet</servlet-name>
    <servlet-class>com.ktds.muco.web.PlaceInfoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceInfoDeleteServlet</servlet-name>
    <url-pattern>/placeInfoDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceInfoModifyServlet</display-name>
    <servlet-name>PlaceInfoModifyServlet</servlet-name>
    <servlet-class>com.ktds.muco.web.PlaceInfoModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceInfoModifyServlet</servlet-name>
    <url-pattern>/placeInfoModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceInfoModifyActionServlet</display-name>
    <servlet-name>PlaceInfoModifyActionServlet</servlet-name>
    <servlet-class>com.ktds.muco.web.PlaceInfoModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceInfoModifyActionServlet</servlet-name>
    <url-pattern>/placeInfoModifyAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceInfoCreateServlet</display-name>
    <servlet-name>PlaceInfoCreateServlet</servlet-name>
    <servlet-class>com.ktds.muco.web.PlaceInfoCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceInfoCreateServlet</servlet-name>
    <url-pattern>/placeInfoCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendPlaceServlet</display-name>
    <servlet-name>RecommendPlaceServlet</servlet-name>
    <servlet-class>com.ktds.muco.web.RecommendPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendPlaceServlet</servlet-name>
    <url-pattern>/recommendPlace</url-pattern>
  </servlet-mapping>
</web-app>