@CHARSET "UTF-8";

div#index {
	margin-top: 15%;
	margin-left:40%;
}

div#index a {
	text-decoration: none;
}

div#letsJoin {
	background-color: #00ffff;
	padding: 10px;
	float:left;
}

div#letsLogIn {
	background-color: #ffff00;
	padding: 10px;
	float:left;
}