@CHARSET "UTF-8";

/* 김광민 */

div#index {
	margin-top: 15%;
	margin-left:40%;
}

div#index a {
	text-decoration: none;
}

div#letsJoin {
	text-align: center;
	width: 100px;
	background-color: #00ffff;
	padding: 10px;
	float:left;
}

div#letsLogIn {
	text-align: center;
	width: 100px;
	background-color: #ffff00;
	padding: 10px;
	float:left;
}