@CHARSET "UTF-8";

div#join{
	float: right;
}

 div#join input {
	margin: 10px;
	float: right;
} 
/* #joinForm * {
	line-height: 10px;
	line-height: -100px;
} */
#btnJoin {	
	height: 25px;
	float: right;
	margin: 5px;
}

div.clear {
	clear: both;
}