<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Article-my</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ktds.cain.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DoLoginServlet</display-name>
    <servlet-name>DoLoginServlet</servlet-name>
    <servlet-class>com.ktds.cain.member.web.DoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLoginServlet</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionCheckFilter</display-name>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>com.ktds.cain.filter.SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.ktds.cain.article.web.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.ktds.cain.article.web.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendServlet</display-name>
    <servlet-name>RecommendServlet</servlet-name>
    <servlet-class>com.ktds.cain.article.web.RecommendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendServlet</servlet-name>
    <url-pattern>/recommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.ktds.cain.article.web.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteServlet</display-name>
    <servlet-name>WriteServlet</servlet-name>
    <servlet-class>com.ktds.cain.article.web.WriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteServlet</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteActionServlet</display-name>
    <servlet-name>WriteActionServlet</servlet-name>
    <servlet-class>com.ktds.cain.article.web.WriteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteActionServlet</servlet-name>
    <url-pattern>/writeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HitServlet</display-name>
    <servlet-name>HitServlet</servlet-name>
    <servlet-class>com.ktds.cain.article.web.HitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HitServlet</servlet-name>
    <url-pattern>/hit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.ktds.cain.member.web.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterMemberServlet</display-name>
    <servlet-name>RegisterMemberServlet</servlet-name>
    <servlet-class>com.ktds.cain.member.web.RegisterMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterMemberServlet</servlet-name>
    <url-pattern>/registerMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewMemberServlet</display-name>
    <servlet-name>AddNewMemberServlet</servlet-name>
    <servlet-class>com.ktds.cain.member.web.AddNewMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewMemberServlet</servlet-name>
    <url-pattern>/addNewMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyServlet</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>com.ktds.cain.article.web.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyServlet</display-name>
    <servlet-name>DoModifyServlet</servlet-name>
    <servlet-class>com.ktds.cain.article.web.DoModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyServlet</servlet-name>
    <url-pattern>/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileServlet</display-name>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>com.ktds.cain.file.web.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/file</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.ktds.cain.article.web.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteReplyServlet</display-name>
    <servlet-name>DoWriteReplyServlet</servlet-name>
    <servlet-class>com.ktds.cain.reply.web.DoWriteReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteReplyServlet</servlet-name>
    <url-pattern>/doWriteReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MassiveDeleteServlet</display-name>
    <servlet-name>MassiveDeleteServlet</servlet-name>
    <servlet-class>com.ktds.cain.article.web.MassiveDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MassiveDeleteServlet</servlet-name>
    <url-pattern>/massiveDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitSearchServlet</display-name>
    <servlet-name>InitSearchServlet</servlet-name>
    <servlet-class>com.ktds.cain.article.web.InitSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitSearchServlet</servlet-name>
    <url-pattern>/list/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInformationServlet</display-name>
    <servlet-name>MemberInformationServlet</servlet-name>
    <servlet-class>com.ktds.cain.member.web.MemberInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInformationServlet</servlet-name>
    <url-pattern>/memberInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdDuplicationCheckServlet</display-name>
    <servlet-name>IdDuplicationCheckServlet</servlet-name>
    <servlet-class>com.ktds.cain.member.web.IdDuplicationCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdDuplicationCheckServlet</servlet-name>
    <url-pattern>/idDuplicationCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInfoDetailServlet</display-name>
    <servlet-name>MemberInfoDetailServlet</servlet-name>
    <servlet-class>com.ktds.cain.member.web.MemberInfoDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInfoDetailServlet</servlet-name>
    <url-pattern>/memberInfoDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoDeleteServlet</display-name>
    <servlet-name>InfoDeleteServlet</servlet-name>
    <servlet-class>com.ktds.cain.member.web.InfoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoDeleteServlet</servlet-name>
    <url-pattern>/infoDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MassiveInfoDeleteServlet</display-name>
    <servlet-name>MassiveInfoDeleteServlet</servlet-name>
    <servlet-class>com.ktds.cain.member.web.MassiveInfoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MassiveInfoDeleteServlet</servlet-name>
    <url-pattern>/massiveInfoDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoModifyServlet</display-name>
    <servlet-name>InfoModifyServlet</servlet-name>
    <servlet-class>com.ktds.cain.member.web.InfoModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoModifyServlet</servlet-name>
    <url-pattern>/infoModify</url-pattern>
  </servlet-mapping>
</web-app>