@CHARSET "UTF-8";

/* 김광민 */
div#leftMenu {
	height: 100%;
	padding: 20px;
	background-color: #333333;
	font-size: 11pt;
	text-align: center;
	float: left;
	width: 10%;
}

div#leftMenu ul li {
	margin-top: 50px;
}

div#leftMenu ul li a {
	margin-top: 50px;
	color: #959595;
	text-decoration: none;
	font-weight: bold;
}